# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SkyrimDev.iml
# Datasource local storage ignored files
/../../../../../../../:\Programming\F#\SkyrimDev\.idea\.idea.SkyrimDev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
